$link-hover-color: rgb(215, 224, 231);

.btn{
    display: flex;
     justify-content: center; 
     align-items: center;

    &:hover {
    background-color: $link-hover-color;
    border-color: rgb(179, 179, 179);
    color: black;
  }
}

.gradient-text {
    background: linear-gradient(to right, #d8aca1, #75665b); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

